* {
  border: 0;
  margin: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}

body {
  line-height: 1;
  color: #616161;
  position: relative;
}

a {
  color: #616161;
}

a:hover {
  text-decoration: none;
  color: #141414;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  border-top: 1px solid #616161;
}

li {
  list-style: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

.logo {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  color: #464646;
  margin: 70px 0 50px 0;
}

a, p, b, strong, span {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.first-bar {
  height: 50px;
}

.secondary-menu ul li, .main-menu ul li, .social-menu a {
  margin-right: 18px;
  text-transform: uppercase;
}

.secondary-menu ul li:first-child, .main-menu ul li:first-child, .social-menu a:first-child {
  margin-right: 0;
}

.main-menu {
  margin-bottom: 16px;
}

.second-bar {
  height: 50px;
  text-transform: uppercase;
}

.article {
  text-transform: uppercase;
  border: 1px solid #616161;
}

h2, h1 {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 10px 0;
  text-transform: uppercase;
}

.thumbnail img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col {
  padding-right: 0;
  padding-left: 0;
}

.article-meta .col a, .article-meta .col p {
  padding: 18px 0;
  display: block;
}

.article-meta-link {
  background: #141414;
  height: auto;
}

.article-meta-link a {
  color: #f5f5f5;
}

.article-meta-link a:hover {
  color: #616161;
}

footer {
  margin: 35px 0;
}

footer p {
  margin-top: 10px;
}

article {
  margin: 20px 0 65px 0;
}

article.full-post {
  margin-bottom: 0px;
}

.post h1 {
  margin-bottom: 15px;
}

.post-meta {
  text-transform: uppercase;
}

.post-meta p {
  padding: 15px 0;
}

.post-tags {
  padding: 20px 0 20px 0;
}

.post-thumbnail img {
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  margin-top: 5px;
  text-align: justify;
}

.content p {
  margin: 15px 0;
  font-family: Calibri;
  line-height: 1.5;
}

.menu-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  top: 0px;
  right: 0px;
  display: none;
  z-index: 10;
  text-align: center;
  text-transform: uppercase;
}

.menu-frame .menu .sub-menu {
  display: block;
  position: relative;
  opacity: 1;
}

.menu-frame .menu .sub-menu li {
  text-align: center;
  background: none;
  width: auto;
  height: auto;
  padding: 10px 0 0 0;
  text-transform: capitalize;
}

.menu-frame a {
  font-size: 18px;
  color: #616161;
}

.menu-frame li {
  margin: 25px 0;
}

.menu-frame .close-m-menu {
  text-align: left;
  margin: 20px 0px 40px 20px;
  font-size: 25px;
}

.mobile-menu {
  display: none;
}

.sidebar {
  padding-top: 30px;
}

.single-widget {
  padding: 15px 0;
  border-bottom: 1px solid #616161;
  margin-bottom: 15px;
}

.widget-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.menu .sub-menu {
  opacity: 0;
  position: absolute;
  margin-top: 5px;
  z-index: 5;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu .sub-menu li {
  display: block;
  background: #f5f5f5;
  width: 180px;
  height: 0px;
  text-align: right;
  padding: 0;
  overflow: hidden;
  margin: 0 !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-menu .menu-item-has-children {
  position: relative;
  margin-left: 8px;
}

.main-menu .menu-item-has-children:hover .sub-menu {
  display: block;
  opacity: 1;
}

.main-menu .menu-item-has-children:hover li {
  padding: 13px 10px 13px 0px;
  height: 45px;
}

.main-menu .menu-item-has-children::after {
  content: "▼";
  position: absolute;
  left: -12px;
  top: 4px;
  font-size: 10px;
}

.post-comments {
  margin-top: 20px;
}

.comment-form p {
  padding: 10px 0;
}

.comment-form textarea, .comment-form input {
  border: 1px solid #616161;
  display: block;
  padding: 8px 5px;
  color: #616161;
  font-family: 'Open Sans', sans-serif;
}

ol {
  padding: 0;
  margin: 0;
}

.comment-list li {
  margin: 15px 0px 25px 0px;
  padding: 12px 8px;
  background: #f5f5f5;
  width: 60%;
}

.comment-author {
  margin-bottom: 8px;
}

.comment-author cite {
  font-weight: 700;
}

.comment-meta {
  margin-bottom: 8px;
}

.reply {
  margin: 10px 0 0 0;
}

.screen-reader-text {
  display: none;
}

#searchsubmit {
  background: none;
  text-transform: uppercase;
  color: #616161;
  vertical-align: baseline;
}

#searchform #s {
  border-bottom: 1px solid #616161;
  color: #616161;
  padding-right: 5px;
}

.pagination {
  text-align: center !important;
  display: block !important;
  margin-top: 10px;
}

.page404 {
  margin-bottom: 150px;
}

@media only screen and (min-width: 1140px) {
  .alignfull, .alignwide {
    margin-bottom: 2em;
  }
  .alignwide {
    margin-right: -100px;
    margin-left: -100px;
    max-width: 1024px;
  }
  .alignfull {
    margin-right: calc( -100vw / 2 + 100% / 2);
    margin-left: calc( -100vw / 2 + 100% / 2);
    max-width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  p, a, b {
    font-size: 14px;
  }
  .logo {
    font-size: 40px;
    margin: 40px 0 25px 0;
  }
  .social-menu {
    display: none;
  }
  .secondary-menu {
    text-align: center !important;
  }
  .search {
    display: none;
  }
  .main-menu {
    display: none;
  }
  .mobile-menu {
    font-size: 30px;
    padding: 0px 0 20px 0;
    display: block;
  }
  .secondary-menu ul li {
    margin: 0 10px !important;
  }
  .thumbnail img {
    height: 220px;
  }
  .content p {
    font-size: 21px;
  }
  .comment-list li {
    width: 100%;
  }
  .comment-form textarea {
    width: 100%;
  }
  .comment-form #submit {
    width: 100%;
  }
  .post-thumbnail img {
    height: 200px;
  }
  #wpadminbar {
    position: fixed;
  }
}
.text-right {
  text-align: left !important;
}
.text-left {
  text-align: right !important;
}