.wp-block {
    max-width: 768px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

.edit-post-visual-editor, .edit-post-visual-editor p {
    font-size: 17px !important;
    font-family: 'Calibri' !important;
    line-height: 1.5 !important;
    margin-bottom: 1rem !important;
    color: #616161;
}

.editor-post-title textarea.editor-post-title__input {
    text-transform: uppercase !important;
    font-size: 23px !important;
    font-weight: 100 !important;
    letter-spacing: 4px !important;
    font-family: 'Open Sans', sans-serif !important;
}